Repository Ciclo4-ucaldas/GX-equipo0, pull requests merged in 2022-11, with the labels that each got.

#23 Microservicios
  Veterinaria/.gitignore
  Veterinaria/Microservicios/smsYemail.py
Labels: Diseñador de software, Lider de equipo

#24 Incorporacion de sms y email
  Veterinaria/Microservicios/__pycache__/environment.cpython-310.pyc
  Veterinaria/package-lock.json
  Veterinaria/package.json
  Veterinaria/src/controllers/administrador.controller.ts
  Veterinaria/src/models/administrador.model.ts
  Veterinaria/src/models/persona.model.ts
  Veterinaria/src/services/mensajeria.service.ts
Labels: Administrador de la configuracion, Diseñador de software

#25 Creacion autenticacion y autorizacion
  Diagramas.mdj
  Veterinaria/package-lock.json
  Veterinaria/package.json
  Veterinaria/src/application.ts
  Veterinaria/src/config/Llaves.ts
  Veterinaria/src/controllers/administrador.controller.ts
  Veterinaria/src/controllers/bano.controller.ts
  Veterinaria/src/controllers/cliente.controller.ts
  Veterinaria/src/controllers/mascota-cliente.controller.ts
  Veterinaria/src/controllers/mascota.controller.ts
  Veterinaria/src/controllers/persona.controller.ts
  Veterinaria/src/controllers/servicio.controller.ts
  Veterinaria/src/controllers/vacuna.controller.ts
  Veterinaria/src/controllers/veterinario.controller.ts
  Veterinaria/src/models/administrador.model.ts
  Veterinaria/src/models/cliente.model.ts
  Veterinaria/src/models/credenciales.model.ts
  Veterinaria/src/models/index.ts
  Veterinaria/src/models/persona.model.ts
  Veterinaria/src/services/authenticacion.service.ts
  Veterinaria/src/services/mensajeria.service.ts
  Veterinaria/src/strategies/admin.strategy.ts
  Veterinaria/src/strategies/cliente.strategy.ts
  Veterinaria/src/strategies/veterinario.strategy.ts
Labels: Diseñador de software
